// =============================================================================
// Available shortcodes screen
// =============================================================================

.su-admin-shortcodes {
	$color-wp-link: #0073aa;
	$color-wp-link-hover: #0096dd;

	.wp-filter {
		padding-left: 20px;
	}

	&-list {
		&-not-found {
			margin: 0;
			padding: 100px 0;
			color: #666;
			text-align: center;
			font-style: normal;
			font-size: 18px;
		}

		&-item {
			float: left;
			margin: 0 22px 22px 0;
			width: 150px;
			text-decoration: none;

			&-image {
				display: block;
				padding: 15px;
				width: 120px;
				height: 120px;
				background: #fff;
				transition: box-shadow 0.2s ease;
			}

			&:hover .su-admin-shortcodes-list-item-image {
				box-shadow: 0 0 0 4px rgba($color-wp-link-hover, 0.2),
					0 0 0 1px $color-wp-link-hover;
			}

			&-title {
				display: block;
				overflow: hidden;
				margin: 8px 0;
				height: 18px;
				text-align: center;
				text-transform: capitalize;
				line-height: 18px;
			}
		}
	}

	&-single {
		padding-top: 20px;

		&-section {
			margin-bottom: 30px;
			max-width: 840px;
		}

		&-back span {
			margin-right: 0.3em;
			vertical-align: middle;
			font-size: 1.25em;
		}

		&-description {
			overflow: hidden;

			& > span {
				display: block;
				float: left;
				margin: 0 1.3em 0 0;
				padding: 10px;
				width: 60px;
				height: 60px;
				background: #fff;
			}

			h2 {
				margin: 5px 0 10px;
				height: 20px;
				font-size: 1.3em;
				line-height: 20px;
			}

			p {
				display: block;
				overflow: hidden;
				margin: 0;
				height: 40px;
				font-size: 13px;
				line-height: 20px;
			}
		}

		&-preview {
			&-content {
				padding: 2em;
				background: #fff;

				& :first-child {
					margin-top: 0 !important;
				}

				& :last-child {
					margin-bottom: 0 !important;
				}
			}

			.su-column {
				outline: 1px dotted #ccc;
			}
		}

		&-code pre code {
			display: block;
			overflow-x: auto;
			padding: 1em;
		}

		&-options-table > table {
			table-layout: fixed;

			td {
				word-break: break-word;
			}
		}

		&-options-table + &-options-table {
			margin-top: 20px;
		}
	}
}

.su-admin-shortcodes-extra {
	max-width: 500px;
	margin-bottom: 2rem;
	padding: 20px 20px 0;
	background: white;
	box-shadow: 0 1px 1px 0 rgba(black, .1);
	text-align: center;
}

.su-admin-shortcodes-extra-message {
	padding: 15px;
	background: #f0f0f0;
	border-left: 4px solid #999;
	color: black;
	margin: 0 0 2rem;
	font-size: .9rem;
	text-align: left;
}
.su-admin-shortcodes-extra-icon {
	width: 80px;
	height: 80px;
	margin: 0 0 1.75rem;
}
.su-admin-shortcodes-extra-title {
	margin: 0 0 .75rem;
	font-size: 1.5rem;
	font-weight: bold;
	color: #333;
}
.su-admin-shortcodes-extra-description {
	margin: 0 0 1.75rem;
	font-size: .95rem;
	color: #555;
}
.su-admin-shortcodes-extra-action {
	margin: 0 0 2rem;
}
.su-admin-shortcodes-extra-action > a.button {
	padding: 12px 24px;
	font-weight: bold;
	font-size: .9rem;
	height: auto;
	border-radius: 5px;
	line-height: 1;
}
.su-admin-shortcodes-extra-screenshot {
	max-height: 300px;
	overflow: hidden;
}
.su-admin-shortcodes-extra-screenshot img {
	display: block;
	width: 100%;
}
