// =============================================================================
// Clearfix
// =============================================================================

.su-u-clearfix::after {
	content: '';
	display: table;
	clear: both;
}


// =============================================================================
// Trim
// =============================================================================

.su-u-trim {

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}
}

