# npm packages directory
node_modules/

# Build directory
build/

# Generated assets
/*/css/
/*/js/*/*.js
*.js.map

# Local languages
/languages/*.po
/languages/*.mo

# OS-specific files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
