.su-custom-gallery {
	margin-bottom: 1.5em;
}
.su-custom-gallery:after,
.su-custom-gallery:before {
	content: '';
	display: table;
}
.su-custom-gallery:after {
	clear: both;
}
.su-custom-gallery-slide {
	position: relative;
	float: left;
	margin: 0.5em;
	overflow: hidden;
}
.su-custom-gallery-slide a {
	display: block;
	width: 100%;
	height: 100%;
}
.su-custom-gallery-slide img {
	display: block;
	margin: 0;
	padding: 3px;
	border: 1px solid #ccc;
	background: #fff;
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: none;
	transition: all 0.2s;
}
.su-custom-gallery-slide:hover img {
	background: #eee;
	border: 1px solid #aaa;
}
.su-custom-gallery-slide span {
	position: absolute;
	left: 4px;
	bottom: 4px;
	right: 4px;
	display: block;
	padding: 2px 4px;
	font-size: 12px;
	color: #fff;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	line-height: 1.3;
	opacity: 0;
	transition: all 0.2s;
}
.su-custom-gallery-slide:hover span {
	opacity: 1;
}
.su-custom-gallery-title-never span {
	display: none;
}
.su-custom-gallery-title-always span {
	opacity: 1;
}
