.su-dropcap {
	float: left;
	display: inline-block;
	width: 2em;
	height: 2em;
	margin: 0.2em 0.5em 0.2em 0;
	line-height: 2em;
	text-align: center;
	overflow: hidden;
	text-transform: uppercase;
}
.su-dropcap-style-default {
	color: white;
	background: #45484d;
	background: linear-gradient(to bottom, #45484d 0%, black 100%);
	text-shadow: -1px -1px 0 black;
	border-radius: 50%;
}
.su-dropcap-style-flat {
	background: #444;
	color: #fff;
}
.su-dropcap-style-light {
	color: #333;
	border-radius: 50%;
	background: white;
	background: linear-gradient(to bottom, white 0%, #eaeaea 100%);
}
.su-dropcap-style-simple {
	width: 1em;
	height: 1em;
	line-height: 1em;
	text-align: left;
}
