.su-heading-style-default {
	padding: 2px 0;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}
.su-heading-style-default .su-heading-inner {
	padding: 1em 0.5em;
	border-top: 4px solid #eee;
	border-bottom: 4px solid #eee;
}
.su-heading.su-heading-align-left {
	text-align: left;
}
.su-heading.su-heading-align-left .su-heading-inner {
	padding-left: 0.2em;
}
.su-heading.su-heading-align-right {
	text-align: right;
}
.su-heading.su-heading-align-right .su-heading-inner {
	padding-right: 0.2em;
}
.su-heading.su-heading-align-center {
	text-align: center;
}
