.su-lightbox-content {
	position: relative;
	margin: 0 auto;
}
.mfp-content .su-lightbox-content,
#su-generator .su-lightbox-content {
	display: block !important;
}
.su-lightbox-content-preview {
	width: 100%;
	min-height: 300px;
	background: #444;
	overflow: hidden;
}
.su-lightbox-content h1,
.su-lightbox-content h2,
.su-lightbox-content h3,
.su-lightbox-content h4,
.su-lightbox-content h5,
.su-lightbox-content h6 {
	color: inherit;
}
