.su-pullquote {
	display: block;
	width: 30%;
	padding: 0.5em 1em;
}
.su-pullquote-align-left {
	margin: 0.5em 1.5em 1em 0;
	padding-left: 0;
	float: left;
	border-right: 5px solid #eee;
}
.su-pullquote-align-right {
	margin: 0.5em 0 1em 1.5em;
	padding-right: 0;
	float: right;
	border-left: 5px solid #eee;
}

@media screen and (max-width: 48em) {
	.su-pullquote {
		width: auto;
	}
	.su-pullquote-align-left,
	.su-pullquote-align-right {
		float: none;
		margin: 1.5em 0;
		padding: 0.5em 1em;
	}
}
