.su-spacer {
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
}
.su-spacer-5 {
	height: 5px;
}
.su-spacer-10 {
	height: 10px;
}
.su-spacer-20 {
	height: 20px;
}
.su-spacer-30 {
	height: 30px;
}
.su-spacer-40 {
	height: 40px;
}
