.su-table {
	width: 100%;
	margin-bottom: 1.5em;

	table {
		width: 100% !important;
		margin: 0 !important;
		border-collapse: collapse !important;
		font-size: 1em !important;
		border: 1px solid #ccc !important;
		table-layout: auto !important;

		th {
			text-align: center !important;
			padding: 1em !important;
			font-size: 1em !important;
			font-weight: bold !important;
			color: #333 !important;
			border: 1px solid #ccc !important;
			background: #f0f0f0 !important;
		}

		td {
			padding: 0.5em 1em !important;
			border: 1px solid #ccc !important;
			background: #fff !important;
		}
	}

	&-responsive {
		overflow-x: auto;

		table {
			width: auto !important;
			min-width: 100% !important;

			th,
			td {
				word-break: initial !important;
			}
		}
	}

	&-alternate table tr:nth-child(even) td {
		background-color: #f7f7f7 !important;
	}

	&-fixed table {
		table-layout: fixed !important;
	}
}
