.su-tabs {
	margin: 0 0 1.5em;
	padding: 3px;
	border-radius: 3px;
	background: #eee;
}
.su-tabs-nav span {
	display: inline-block;
	margin-right: 3px;
	padding: 10px 15px;
	min-height: 40px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #333;
	font-size: 13px;
	line-height: 20px;
	cursor: pointer;
	transition: all 0.2s;
}
.su-tabs-nav span:hover {
	background: #f5f5f5;
}
.su-tabs-nav span.su-tabs-current {
	background: #fff;
	cursor: default;
}
.su-tabs-nav span:focus {
	outline: currentColor thin dotted;
}
.su-tabs-nav span.su-tabs-disabled {
	opacity: 0.5;
	cursor: default;
}
.su-tabs-pane {
	padding: 15px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	background: #fff;
	color: #333;
	font-size: 13px;
}
.su-tabs-pane:not(.su-tabs-pane-open) {
	overflow: hidden !important;
	padding: 0 !important;
	min-height: 0 !important;
	height: 0 !important;
	border: none !important;
}
.su-tabs-nav,
.su-tabs-nav span,
.su-tabs-panes,
.su-tabs-pane {
	box-sizing: border-box !important;
}

.su-tabs-vertical {
	display: flex;

	.su-tabs-nav {
		width: 30%;

		> span {
			display: block;
			margin-right: 0;
			border-radius: 0;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
	}

	.su-tabs-panes {
		width: 70%;

		.su-tabs-pane {
			height: 100%;
			border-radius: 0;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}
}

@media only screen and (max-width: 768px) {

	.su-tabs-vertical {
		flex-direction: column;

		.su-tabs-nav,
		.su-tabs-panes {
			width: 100%;

			> span,
			.su-tabs-pane {
				border-radius: 3px;
			}
		}
	}

	.su-tabs-mobile-stack .su-tabs-nav span {
		display: block;
	}

	.su-tabs-mobile-scroll .su-tabs-nav {
		display: flex;
		align-items: flex-end;
		white-space: nowrap;
		overflow-x: auto;
	}
}
